<body>
<div class="container">
  <div class="starter-template">
    <header id="cp-header">
      <h1>Control Panel</h1>
    </header>

    <button type="button" class="btn btn-primary">Run Sapphire Scrape</button>

  </div>

  <%= button_to "An article", @main, :class => 'btn btn-large btn-primary', remote: true %>
  <%= button_to 'Call Action', main_sapphire_scrape_path, method: :post %>


</div>
</body>